@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* tailwind class */

/* Text */
.text-link {
  @apply text-[1.6rem] md:text-[1.3rem] lg:text-[1.4rem] text-gray-400;
}
.text-small {
  @apply text-[1.5rem] sm:text-[1.4rem] lg:text-[1.4rem] text-gray-400 leading-[1.4] text-center  md:text-justify;
}
.text-xsmall {
  @apply text-[1.1rem] text-gray-400 leading-[1.4] text-center  md:text-justify;
}
.text-base {
  @apply text-[1.6rem] sm:text-[1.8rem] md:text-[1.6rem] leading-[143%] text-center  md:text-justify text-gray-400;
}
.info-text {
  @apply text-[2.2rem] md:text-[3rem]  text-[#fff];
}

/* Header */
.heading-primary {
  @apply text-[2rem] sm:text-[2.4rem]  leading-[2.8rem]  lg:text-[3.2rem] xl:text-[3.6rem] 2xl:text-[4.8rem] lg:leading-[4.9rem]  font-[700] mb-[1.5rem] md:mb-[2.5rem] text-center md:text-start;
}
.heading-secondary {
  @apply text-2xl font-semibold mb-[0.4rem];
}
.heading-tertiary {
  @apply font-semibold text-[1rem] md:text-[1rem] lg:text-[1rem];
}
.heading-four {
  @apply font-semibold text-[1.6rem] lg:text-[0.9rem] leading-[1.2] text-center md:text-start;
}
.heading-five {
  @apply font-medium text-sm md:text-base;
}

/* add background image "background.png */
.background-dot-image {
  background: url('/image/background.png') center no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}
